@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    max-height: 100%;
}
p,
ul {
    margin: 0;
}

a {
    color: #3e6baf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}
#app {
    background-color: #cee2ff;
}
.container {
    margin: 0 auto;
    max-width: 510px;
}

.container.with-nav {
    margin-top: 70px;
}

.pt-2 {
    padding-top: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-5 {
    padding-top: 5rem;
}
.btn {
    width: 281px;
    background-color: #FDD639;
    border: none;
    padding: 13px;
    border-radius: 20px;
}

.form-control input {
    height: 63px;
    width: 100%;
}
.card {
    overflow: hidden;
    padding: 1rem;
    background-color: #fff;
}
.holder-user {
    display: flex;
    display: -ms-flexbox;
    position: relative;
    padding: 15px 0;
}
.holder-avatar {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 124px;
    height: 124px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
}

.holder-text {
    width: 100%;
    padding: 0 0 0 134px;
}
.holder-text-header h4 {
    margin-bottom: 5px;
}
.holder-text p {
    z-index: 1;
    font-size: 12px;
    color: gray;
    margin: 0 0 5px;
}
.text-box {
    max-width: 390px;
    background-color: #FFFBC8;
    border: 1px solid #d3d3d3;
    padding: 5px 10px 5px 45px;
    margin: 0px -45px;
    border-radius: 5px;
}
.text-box span {
    font-size: 14px;
}
.holder-services {
    display: flex;
    display: -ms-flexbox;
}
.range {
    display: flex;
    flex-direction: column;
    padding: 15px 0 0;
    margin-bottom: 5px;
}
.range li {
    padding: 0 0 0 3px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}
.range li p {
    padding: 3px 0;
}
.manualBooking::before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    content: '';
    background: #B1E19B;
    border-radius: 0px 3px 3px 0px;
}
.packageTours::before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    content: '';
    background: #ACE2F8;
    border-radius: 0px 3px 3px 0px;
}
.hotels::before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    width: 13%;
    content: '';
    background: #ACE2F8;
    border-radius: 0px 3px 3px 0px;
}
.services {
    padding: 10px 34px 0 0;
    width: 100%;
    text-align: right;
}
.services p {
    font-size: 15px;
    color: #333333;
}
.line {
    border: 1px solid #dadada;
}
.holder-total {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    padding: 10px 0;
}
.title-rewiews {
    display: flex;
    justify-content: space-between;
    display: -ms-flexbox;
    margin-bottom: 20px;
}
.title-rewiews h4 {
    margin-right: 10px;
}
.rewiews {
    margin-right: 15px;
}
.holder-btn {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
}
.comments {
    background: #F2FBFF;
    position: relative;
    padding: 16px;
    width: 100%;
    text-align: left;
    box-shadow: 1px 1px 3px 0px rgb(126, 126, 126);
}

.text-input {
    padding: 20px 0;
}
.bgc-gray .card {
    background: #F2F2F2;
}
.form-control {
    margin-bottom: 20px;
}

.list-item {
    margin-bottom: 15px;
}
i {
    color: #ACE2F8;
    margin-right: 10px;
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
    .holder-text {
        padding: 0 0 0 70px;
    }
    .holder-avatar {
        width: 60px;
        height: 60px;
    }
    .text-box {
        max-width: 360px;
        font-size: 13px;
        margin: 0 -80px;
    }
    .title-rewiews {
        flex-wrap: wrap;
    }
    .services {
        padding: 10px 0 0 0;
    }
  }